Date       | Symbol | Open   | High   | Low    | Close  | Volume
---------------------------------------------------------------
2021-01-01 | AAPL   | 132.16 | 134.07 | 131.72 | 133.72 | 1000000
2021-01-01 | GOOGL  | 1750.00| 1770.00| 1745.50| 1768.20| 500000
2021-01-01 | MSFT   | 216.25 | 218.05 | 215.60 | 217.30 | 750000
2021-01-02 | AAPL   | 133.50 | 135.38 | 133.23 | 135.35 | 1200000
2021-01-02 | GOOGL  | 1775.00| 1792.50| 1773.25| 1789.80| 600000
2021-01-02 | MSFT   | 218.30 | 220.18 | 217.75 | 219.95 | 900000

In [1]:
import pandas as pd

# Create a sample DataFrame
data = {
    'Date': ['2023-06-01', '2023-06-02', '2023-06-03'],
    'Ticker': ['AAPL', 'GOOGL', 'MSFT'],
    'Open': [250.10, 2100.50, 300.25],
    'Close': [252.30, 2120.75, 305.40],
    'Volume': [1000000, 500000, 750000]
}

df = pd.DataFrame(data)

# Display the DataFrame
df

         Date Ticker     Open    Close   Volume
0  2023-06-01   AAPL   250.10   252.30  1000000
1  2023-06-02  GOOGL  2100.50  2120.75   500000
2  2023-06-03   MSFT   300.25   305.40   750000